body {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
body.dark-mode {
  background-color: #111;
  color: #fff;
}

#container {
  text-align: center;
}

.digit {
  font-size: 100px;
  font-weight: bold;
}

.txt {
  font-size: 40px;
  font-weight: bold;
}

#btn-container {
  margin-top: 40px;
}

.btn {
  padding: 7px 25px;
  font-size: 15px;
  margin: 0px 10px;
  color: white;
  border: 0px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

#start {
  background-color: #1abc9c;
}

#stop {
  background-color: #3498bd;
}

#reset {
  background-color: #e74c3c;
}

#toggleMode {
  background-color: rgb(9, 9, 9);
  color: white;
}




body.dark-mode #toggleMode {
  background-color: white;
  color: black;
}

body.light-mode #toggleMode {
  background-color: black;
  color: white;
}

.btn:hover {
  opacity: 0.8;
}

.info {
  margin-top: 25px;
  font-size: 14px;
  text-align: center;
  line-height: 1.6;
  opacity: 0.8;
}



